* {
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Sen;
}

:root {
	--accent: rgb(234, 110, 74);
	--accent2: rgb(255, 131, 80);
	--bg: rgb(34, 35, 39);
	--bg2: rgb(40, 42, 46);
	--bg3: rgb(45, 48, 52);
	--bg4: rgb(50, 54, 58);
	--text: rgb(240, 240, 240);
	--text2: rgb(200, 200, 200);
	--text3: rgb(160, 160, 160);
	--close-shadow: 0 2px 6px rgba(0, 0, 0, 0.075), 0 8px 14px rgba(0, 0, 0, 0.1);
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, 0.125), 0 12px 20px rgba(0, 0, 0, 0.175);
	--transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, transform 0.2s, opacity 0.25s, left 0.25s;
}

body {
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	cursor: pointer;
}

.material-icons-round {
	vertical-align: middle;
}

header {
	width: 95%;
	max-width: 800px;
	margin-top: 25px;
	padding: clamp(15px, 5%, 25px) clamp(15px, 6%, 30px);
	background: var(--bg);
	border-radius: 50px;
	display: flex;
}

#search-form {
	height: 35px;
	width: 100%;
	margin-right: 15px;
	display: flex;
	transition: var(--transition);
}
#search-form input {
	height: 100%;
	width: 100%;
	margin-right: 2px;
	padding-inline: 16px;
	background: var(--bg3);
	color: var(--text3);
	border-radius: 20px 4px 4px 20px;
	font-size: 16px;
	transition: var(--transition);
}
#search-form input:hover {
	background: var(--bg4);
}
#search-form input:focus {
	background: var(--bg4);
	color: var(--text);
	box-shadow: var(--distant-shadow);
}
#search-form button {
	width: 50px;
	padding-right: 3px;
	background: var(--accent);
	border-radius: 4px 20px 20px 4px;
	transition: var(--transition);
}
#search-form button:hover {
	background: var(--accent2);
	box-shadow: var(--distant-shadow);
}
#search-form button:active {
	transform: scale(0.875);
}

#units-toggle {
	height: 35px;
	width: 65px;
	background: black;
	border-radius: 20px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;
	font-size: 16px;
	font-weight: 700;
}
#units-toggle::after {
	content: '';
	height: 30px;
	width: 30px;
	background: var(--accent);
	border-radius: 15px;
	position: absolute;
	transition: var(--transition);
}
#units-toggle:hover::after {
	background: var(--accent2);
	box-shadow: var(--close-shadow);
}
#units-toggle:active::after {
	transform: scale(0.875);
}
#units-toggle span {
	position: relative;
	z-index: 1;
}
#units-toggle.metric::after {
	left: calc(50% - 30px);
}
#units-toggle.imperial::after {
	left: 50%;
}

#current-weather {
	width: 95%;
	max-width: 700px;
	margin-top: 40px;
}
#weather-info {
	margin-bottom: 3px;
	padding: 25px 35px;
	background: var(--bg);
	color: var(--text);
	border-radius: 40px 40px 4px 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#weather-info #name {
	font-weight: 800;
}
#weather-info #description {
	margin-top: 5px;
	color: var(--text3);
	font-size: 25px;
}
#weather-info #temp {
	margin-left: 20px;
	font-size: 50px;
	font-weight: 700;
}
#weather-details {
	display: flex;
}
#weather-details > div {
	width: 100%;
	margin-inline: 3px;
	padding: 20px clamp(15px, 5%, 35px);
	background: var(--bg2);
	color: var(--text);
	border-radius: 4px;
	transition: var(--transition);
}
#weather-details > div:hover {
	background: var(--bg3);
	box-shadow: var(--distant-shadow);
	position: relative;
	z-index: 1;
}
#weather-details > div:first-child {
	margin: 0;
	border-radius: 4px 4px 4px 40px;
}
#weather-details > div:last-child {
	margin: 0;
	border-radius: 4px 4px 40px 4px;
}
#weather-details > div > h3 {
	margin-bottom: 5px;
	color: var(--text2);
}
#weather-details > div > .material-icons-round {
	margin-right: 5px;
	color: var(--text);
	cursor: default;
}
#weather-details > div > span {
	color: var(--text3);
	font-weight: 700;
}

@keyframes loading {
	from {
		background: rgba(255, 255, 255, 0.05);
	}
	50% {
		background: rgba(255, 255, 255, 0.125);
	}
	to {
		background: rgba(255, 255, 255, 0.05);
	}
}

#current-weather.loading .loadable {
	color: transparent !important;
	position: relative;
}
#current-weather.loading .loadable::before {
	content: '';
	height: 100%;
	width: 50px;
	border-radius: 10px;
	position: absolute;
	top: 0;
	animation: loading 1s linear infinite;
}
#current-weather.loading #name::before {
	width: 125px;
}
#current-weather.loading #description::before {
	width: 200px;
}
#current-weather.loading #temp::before {
	width: 80px;
	right: 0;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

#forecast-weather {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hourly, #daily {
	max-width: 100vw;
	transform: translateY(80px);
	opacity: 0;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	animation: fade-in 1s forwards;
}
#daily {
	margin-top: 20px;
	animation-delay: 0.25s;
}

#hourly .card,
#daily .card {
	min-width: 110px;
	margin: 4px;
	color: var(--text);
	transition: var(--transition);
	text-align: center;
}
#hourly .card:hover,
#daily .card:hover {
	box-shadow: var(--distant-shadow);
	transform: scale(1.05);
}
#hourly .card:hover img,
#daily .card:hover img {
	transform: scale(1.1);
}
#hourly .card:hover .hour,
#daily .card:hover .day {
	background: var(--bg3);
}
#hourly .card .hour,
#daily .card .day {
	width: 100%;
	padding-block: 15px;
	background: var(--bg2);
	color: var(--text2);
	border-radius: 30px 30px 4px 4px;
	transition: var(--transition);
	font-size: 20px;
	font-weight: 700;
}
#hourly .card img {
	height: 70px;
	margin-block: -2px -15px;
	transition: var(--transition);
}
#hourly .card .container,
#daily .card .container {
	width: 100%;
	margin-top: 3px;
	padding-bottom: 15px;
	background: var(--bg);
	border-radius: 4px 4px 30px 30px;
	font-size: 26px;
	font-weight: 700;
}

#daily .card {
	min-width: 160px;
}
#daily .card .today {
	color: var(--text);
	font-weight: 800;
}
#daily .card img {
	height: 90px;
	margin: 0 -15px -15px;
	transition: var(--transition);
}
#daily .card .container {
	display: flex;
	justify-content: center;
	align-items: center;
}
#daily .card .temp {
	padding: 15px 0 0 15px;
}
#daily .card .min-temp {
	color: var(--text3);
	font-size: 20px;
}

@media screen and (max-width: 490px) {
	#weather-details > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#weather-details > div > h3 {
		display: none;
	}
	#weather-details > div > .material-icons-round {
		margin: 0 0 5px;
	}

	#current-weather.loading #weather-details .loadable {
		left: -22.5px;
	}
}
